<?xml version="1.0" encoding="UTF-8" ?>

<odoo>
    <!--    <record id="action_open_presupuesto" model="ir.action.act_window">-->
    <!--        <field name="name">Presupuesto</field>-->
    <!--        <field name="res_model">presupuesto</field>-->
    <!--        <field name="view_model">tree,form</field>-->
    <!--    </record>-->

    <!--    <menuitem id="menu_principal" name="Peliculas"/>-->
    <!--    <menuitem id="menu_horizontal" name="Mis Modelos" parent="menu_principal"/>-->
    <!--    <menuitem id="menu_vertical_presupuesto" name="Presupuesto" parent="menu_horizontal"/>-->
    <record id="presupuesto_action" model="ir.actions.act_window">
        <field name="name">Presupuesto</field>
        <field name="res_model">presupuesto</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="presupuesto_menu_root" name="Peliculas">
        <menuitem id="presupuesto_first_level_menu"  name="Mis Modelos">
            <menuitem id="presupuesto_menu_action" action="presupuesto_action"/>
        </menuitem>
    </menuitem>


</odoo>